<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1034998842827-ns3vvods8sdpaluhmb43nvbdo7cpkmc9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1034998842827-ns3vvods8sdpaluhmb43nvbdo7cpkmc9</string>
	<key>API_KEY</key>
	<string>AIzaSyDU3tPwGnUvHTaizo2452Rs2SZqJFwL4Ak</string>
	<key>GCM_SENDER_ID</key>
	<string>1034998842827</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.curafoodasmedicine.dev</string>
	<key>PROJECT_ID</key>
	<string>cura-dev-c0c38</string>
	<key>STORAGE_BUCKET</key>
	<string>cura-dev-c0c38.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1034998842827:ios:9c6a801057258b89ce624e</string>
</dict>
</plist>